############################################
# Build Maven
############################################
target/

############################################
# IntelliJ IDEA
############################################
.idea/
*.iml
out/

############################################
# Logs
############################################
*.log

############################################
# Sistema Operacional
############################################
.DS_Store
Thumbs.db

############################################
# Arquivos temporários
############################################
*.swp
*.tmp
*.bak

############################################
# Cache Scala
############################################
.metals/
.bloop/
